aiofiles==0.4.0
aiohttp==3.7.4.post0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-project==0.8.4
anaconda==custom
ansi2html==1.6.0
anyqt==0.0.13
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.4.2
astropy==4.0.2
async-timeout==3.0.1
async_generator==1.10
atomicwrites==1.4.0
attrs==18.1.0
audioread==2.1.9
autopep8==1.5.4
awswrangler==2.9.0
babel==2.8.0
backcall==0.2.0
backports.shutil_get_terminal_size==1.0.0
backports==1.0
backtesting==0.3.3
baycomp==1.0.2
bcrypt==3.2.0
beautifulsoup4==4.9.3
bitarray==1.6.0
bkcharts==0.2
blas==1.0
bleach==3.2.1
blosc==1.19.0
bokeh==2.2.3
boto3==1.17.110
boto==2.49.0
botocore==1.20.110
bottleneck==1.3.2
brotli==1.0.9
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2022.3.29
cachecontrol==0.12.6
catboost==0.26.1
certifi==2021.10.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
clyent==1.2.2
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.7
configargparse==1.5.3
console_shortcut==0.1.1
contextlib2==0.6.0.post1
coursera-dl==0.11.5
coverage==6.0.2
cpuonly==2.0
cryptography==3.1.1
curl==7.55.1
cycler==0.10.0
cython==0.29.21
cytoolz==0.11.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.0.0
dask-core==2.30.0
dask==2.30.0
decorator==4.4.2
dedent==0.5
defusedxml==0.6.0
dgl==0.6.1
dictdiffer==0.8.0
diff-match-patch==20200713
dill==0.3.4
distributed==2.30.0
docutils==0.16
echo==0.5
entrypoints==0.3
et_xmlfile==1.0.1
expressions==0.2.3
fast-histogram==0.9
fastcache==1.1.0
filelock==3.0.12
flake8==3.8.4
flask-compress==1.10.1
flask==1.1.2
freetype==2.10.4
fsspec==0.8.3
future==0.18.2
gensim==4.0.0
get_terminal_size==1.0.0
gevent==20.9.0
glob2==0.7
glue-core==1.0.1
glue-vispy-viewers==0.12.2
glueviz==1.0.0
gmpy2==2.0.8
grako==3.99.9
greenlet==0.4.17
h11==0.12.0
h2==3.2.0
h5py==2.10.0
hdf5==1.10.4
heapdict==1.0.1
hpack==3.0.0
html5lib==1.1
httpcore==0.13.3
httpx==0.18.2
hyperframe==5.2.0
icc_rt==2019.0.0
icu==58.2
idna==2.10
imageio==2.9.0
imagesize==1.2.0
implicit==0.4.4
importlib-metadata==2.0.0
importlib_metadata==2.0.0
iniconfig==1.1.1
intel-openmp==2021.4.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.18.1
ipython_genutils==0.2.0
ipywidgets==7.6.3
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.1
jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jpeg==9b
json5==0.9.5
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-dash==0.4.0
jupyter==1.0.0
jupyter_client==6.1.7
jupyter_console==6.2.0
jupyter_core==4.6.3
jupyterlab==2.2.6
jupyterlab_pygments==0.1.2
jupyterlab_server==1.2.0
jupyterlab_widgets==1.0.0
keyring==21.4.0
keyrings.alt==4.1.0
kiwisolver==1.2.0
krb5==1.18.2
lazy-object-proxy==1.4.3
libarchive==3.4.2
libcurl==7.71.1
libiconv==1.15
liblief==0.10.1
libllvm9==9.0.1
libpng==1.6.37
librosa==0.9.1
libsodium==1.0.18
libspatialindex==1.9.3
libssh2==1.9.0
libtiff==4.1.0
libuv==1.40.0
libxml2==2.9.10
libxslt==1.1.34
lightfm==1.16
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lxml==4.6.3
lz4-c==1.9.2
lzo==2.10
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
markupsafe==1.1.1
matplotlib-base==3.3.1
matplotlib==3.3.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-service==2.4.0
mkl==2021.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
mlxtend==0.19.0
mock==4.0.2
more-itertools==8.5.0
mpc==1.1.0
mpfr==4.0.2
mpir==3.0.0
mpl-scatter-density==0.7
mpmath==1.1.0
msgpack-python==1.0.0
msys2-conda-epoch==20160418
multidict==5.1.0
multipledispatch==0.6.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
networkx==2.5
ninja==1.10.2
nltk==3.5
nose==1.3.7
notebook==6.1.4
numba==0.51.2
numexpr==2.8.1
numpy-base==1.21.5
numpy==1.22.3
numpydoc==1.1.0
olefile==0.46
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
openpyxl==3.0.5
openssl==1.1.1n
opentsne==0.4.3
orange-canvas-core==0.1.15
orange-widget-base==4.7.0
orange3==3.26.0
packaging==20.4
pandas==1.1.3
pandoc==2.11
pandocfilters==1.4.2
paramiko==2.7.2
parso==0.7.0
partd==1.1.0
path.py==12.5.0
path==15.0.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pg8000==1.19.5
pickleshare==0.7.5
pillow==8.0.0
pip==21.1.2
pkginfo==1.6.0
plotly==5.3.1
pluggy==0.13.1
ply==3.11
pooch==1.6.0
powershell_shortcut==0.0.1
prometheus_client==0.8.0
prompt-toolkit==3.0.8
prompt_toolkit==3.0.8
psutil==5.7.2
py-lief==0.10.1
py==1.9.0
pyarrow==4.0.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.43.0.6
pydocstyle==5.1.1
pydub==0.25.1
pyflakes==2.2.0
pygments==2.7.1
pylint==2.6.0
pymysql==1.0.2
pynacl==1.4.0
pynndescent==0.5.4
pyodbc==4.0.30
pyopengl==3.1.1a1
pyopenssl==19.1.0
pyparsing==2.4.7
pyqt==5.9.2
pyqtgraph==0.11.0
pyreadline==2.1
pyrsistent==0.17.3
pysocks==1.7.1
pytables==3.6.1
pytest-cov==3.0.0
pytest==6.2.5
python-dateutil==2.8.1
python-graphviz==0.17
python-jsonrpc-server==0.4.0
python-language-server==0.35.1
python-libarchive-c==2.9
python-louvain==0.15
python==3.8.10
pytorch-mutex==1.0
pytorch==1.9.1
pytz==2020.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywin32==227
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
qdarkstyle==2.8.1
qt==5.9.7
qtawesome==1.0.1
qtconsole==4.7.7
qtpy==1.9.0
redshift-connector==2.0.882
regex==2020.10.15
requests==2.24.0
resampy==0.2.2
retrying==1.3.3
rfc3986==1.4.0
rope==0.18.0
rtree==0.9.4
ruamel_yaml==0.15.87
s3transfer==0.4.2
scikit-image==0.17.2
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.8.0
scramp==1.4.0
seaborn==0.11.0
send2trash==1.5.0
serverfiles==0.3.1
setuptools==52.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.24
six==1.15.0
smart-open==5.2.1
snappy==1.1.7
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soundfile==0.10.3.post1
soupsieve==2.0.1
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
sphinxcontrib==1.0
spyder-kernels==1.9.4
spyder==4.1.5
sqlalchemy==1.3.19
sqlite==3.35.4
statsmodels==0.12.0
sympy==1.6.2
tardis-client==1.2.12
tbb==2020.3
tblib==1.7.0
tenacity==8.0.1
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tifffile==2020.10.1
tk==8.6.7
toml==0.10.1
tomli==1.2.1
toolz==0.11.1
torch==1.9.0
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0
tornado==6.0.4
tqdm==4.50.2
traitlets==5.0.5
typing_extensions==3.7.4.3
ujson==4.0.1
unicodecsv==0.14.1
urllib3==1.25.11
vc==14.2
vs2015_runtime==14.27.29016
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
werkzeug==1.0.1
wheel==0.36.2
widgetsnbextension==3.5.1
win_inet_pton==1.1.0
win_unicode_console==0.5
wincertstore==0.2
winpty==0.4.3
wrapt==1.11.2
xlrd==1.2.0
xlsxwriter==1.3.7
xlwings==0.20.8
xlwt==1.3.0
xz==5.2.5
yaml==0.1.7
yapf==0.30.0
yarl==1.6.3
zeromq==4.3.2
zict==2.0.0
zipp==3.3.1
zlib==1.2.11
zope.event==4.5.0
zope.interface==5.1.2
zope==1.0
zstd==1.4.4
